<div class="container search">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Search" aria-describedby="inputSuccess2Status">
                <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                <span id="inputSuccess2Status" class="sr-only">(success)</span>
            </div>
        </div>
    </div>
    <hr></hr>
</div>